.setup-wrap{
  .setup-block{
    background-color: #ffffff;
    width: 100%;
    padding: 16px 0;
    margin: 20px auto;
    border-radius: 4px;
    .select-block{
      margin: 0 auto;
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .select-block-text{
        display: flex;
        flex-direction: column;
        text-align: center;
        .setup-page-name{
          font-size: 1.6em;
          font-weight: 700;
          #setup-page-name-text{
            margin-left: 5px;
          }
        }
        #additional-text{
          margin-top: 20px;
          font-size: 1.4em;
          font-weight: 600;
        }
      }
      .select-wrapper{
        margin: 10px 0 30px 0;
        .select-block-item-wrap{
          display: flex;
          margin-top: 25px;
          .select-label{
            width: 130px;
            text-align: left;
            .label-text{
              vertical-align: middle;
            }
          }
          .select-input{
            margin-left: 25px;
          }
          .select-input-selected-color{
            color:#d9d9d9;
          }
          .select-item{
            width: 220px;
          }
        }
      }
      .save-select-btn{
        margin-left: 15px;
      }
    }
  }
}