.wordTableContainer{
  .wordGroupPath{
    padding: 16px 0;
  }
  .tableWrap{
    background-color: #ffffff;
    width: 100%;
    .wordTable{
      width: 92%;
      margin: 0 auto;
      .ant-table-thead > tr > th.ant-table-column-sort{
        background-color: #fafafa;;
      }
    }
  }
}