@import 'base/settings';

$break-sm-medium: 600px;

body{
  background-color: #f5f5f5;
}
.page{
  background-color: #fff;
  padding: 16px;
  margin-top: 16px;
  &__title{
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid #E8E8E8;
  }
}
.wrapper{
  .mainBlock{
    width: 77%;
    margin: 0 auto;
    padding-bottom: 174px;
    @media screen and (max-width: $break-sm-medium) {
      width: 96%;
    }
  }
}

// components styles
@import 'components/worgroup';
@import 'components/words';
@import 'components/navigation';
@import 'components/login';
@import 'components/alexis-pass';
@import 'components/profile.scss';
@import 'components/offline.scss';