@import 'base/settings';
body{
  background-color: #f5f5f5;
}
.wrapper{
  .mainBlock{
    width: 77%;
    margin: 0 auto;
    padding-bottom: 174px;
  }
}

// components styles
@import 'components/worgroup';
@import 'components/navigation';
@import 'components/login';