 @import './base/settings';
.wrapper{
  background-color: #f5f5f5;
    .mainBlock{
      width: 77%;
      margin: 0 auto;
    }
  }

 // components styles

 @import './components/worgroup.scss';
 @import './components/navigation.scss';